body {
  padding-top: 60px;
  font-family: 'Open-Sans', sans-serif;
  line-height: 24px;
}

.container {
  max-width: 840px;
}

.blog-image {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
}

.post-tags {
  font-weight: bold;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.shares {
  margin-top: 15px;
  margin-bottom: 15px;
}

#disqus_thread {
  margin-top: 15px;
  margin-bottom: 15px;
}

h4.blog-title {
  margin-bottom: 3px;
}

h5.blog-date {
  margin-top: 0px;
  margin-bottom: 15px;
}

/*pre {
  color: #000;
  margin-top: 20px;
  margin-bottom: 20px;
}*/

/*code {
  background-color: #f5f5f5;
  color: #000;
  font-family: 'Source Code Pro', sans-serif;
}*/

.footer {
  padding-top: 25px;
}

.icon-header {
  padding-top: 13px !important;
  padding-bottom: 0px !important;
}

.gh-recent {
  min-height: 281px;
}

@media (min-width: 768px) {
  .navbar-header {
    padding-left: 0px;
  }
}

/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("../fonts/fontcustom_0cb217522a8e2669083b2e84e2470595.eot");
  src: url("../fonts/fontcustom_0cb217522a8e2669083b2e84e2470595.eot?#iefix") format("embedded-opentype"),
       url("../fonts/fontcustom_0cb217522a8e2669083b2e84e2470595.woff") format("woff"),
       url("../fonts/fontcustom_0cb217522a8e2669083b2e84e2470595.ttf") format("truetype"),
       url("../fonts/fontcustom_0cb217522a8e2669083b2e84e2470595.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("../fonts/fontcustom_0cb217522a8e2669083b2e84e2470595.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-pms:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-pms:before { content: "\f100"; }

a.icon-header[href="/plex.html"] {
  width: 50px;
  padding-left: 10% !important;
  padding-right: 10% !important;
}

.icon-pms.icon-2x {
  padding-left: 15% !important;
  font-size: 2em;
}
